- post = post_full

.post.full
  - if post.root?
    = partial :post_right, post
    
    %h1= post.title

    .forum_name
      in
      - link_to @forum.name, "/forums/#{@forum.id}"

  .by
    = post.user.avatar_image
    - link_to post.author.username, "/users/#{post.author.id}"

  .text
    = markup post.text
  
  - unless post.root?
    = partial :post_right, post
    
  .clear