- post = post_full

.post.full

  .updated_at
    = post.updated_at.formatted if post.updated_at
  
  - if current_user && current_user.mine?(post)
    - link_to "Edit", "/posts/#{post.id}/edit", class: "btn right edit"
  
  - if post.root?
    %h1= post.title

    .forum_name
      in
      - link_to @forum.name, "/forums/#{@forum.id}"



  = post.user.avatar_image

  .by
    - link_to post.author.username, "/users/#{post.author.id}"

  .text
    = markup post.text