%nav.alone
  - link_to "< back to #{@forum.name}", "/forums/#{@forum.id}", class: "btn"
  -# link_to "last reply", "javascript:void(0)", class: "btn"

= partial :post_full, @post

- @replies.each do |reply|
  = partial :post_full, reply

- if logged_in?
  - link_to "Reply", "javascript:void(0)", class: "reply_btn", id: "reply", class: "btn"
- else
  - link_to "Login", "/login", id: "login_btn", class: "btn"
  to reply

.reply
  - @reply = Post.new params[:post]
  %form{ action: "/posts/#{@post.id}/reply", method: "post" }
    = textarea  @reply, :text, label: "Reply:"

    - submit "Save"

  - link_to "Help", "/help", id: "help_link"
  .clear